@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  background: whitesmoke;
}

h1 {
  text-align: center;
  margin: 25px 0 15px 0;
  font-size: 40px;
  letter-spacing: 5px;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}

.loader img {
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */

.image-container {
  margin: 0.5rem 15%;
  columns: 3;
  column-gap: 0.5rem;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  margin-top: 0.5rem;
}

.footer {
  background: rgb(146, 145, 145);
  text-align: center;
  padding: 5px 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}

/* Meida querries */

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 35px;
    letter-spacing: 3px;
  }

  /* Image Container */
  .image-container {
    margin: 20px 18% 10px 18%;
  }

  .image-container img {
    margin-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    letter-spacing: 3px;
  }

  /* Image Container */
  .image-container {
    margin: 20px 15px 10px 15px;
  }

  .image-container img {
    margin-top: 5px;
  }
}
